.pagede-rseauxsociaux-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.pagede-rseauxsociaux-pagede-rseauxsociaux {
  width: 100%;
  height: 640px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.pagede-rseauxsociaux-text {
  top: 536px;
  left: 65px;
  color: rgba(0, 0, 0, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pagede-rseauxsociaux-text02 {
  top: 45px;
  color: rgba(0, 0, 0, 1);
  width: 360px;
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pagede-rseauxsociaux-text04 {
  top: 172px;
  left: 136px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pagede-rseauxsociaux-text06 {
  top: 287px;
  left: 160px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pagede-rseauxsociaux-text08 {
  top: 402px;
  left: 68px;
  color: rgba(0, 0, 0, 1);
  width: 223px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
